* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  overflow: auto;
}

.bg-img-clouds {
  background-image: url("./bg-img/clouds-m.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;
}
.bg-img-sun {
  background-image: url("./bg-img/sun-m.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}
.bg-img-snow {
  background-image: url("./bg-img/snow-m.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}
.bg-img-thunder {
  background-image: url("./bg-img/thunder-m.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}
.bg-img-mist {
  background-image: url("./bg-img/mist-m.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}
.bg-img-rain {
  background-image: url("./bg-img/rain-m.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

/* SEARCH */

.city-search {
  background-color: transparent;
  color: rgb(10, 47, 80);
  border: none;
  border-bottom: 1px solid rgb(10, 47, 80);
  outline-style: none;
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 10px;
}
.city-search::placeholder {
  color: rgb(10, 47, 80);
  font-size: 1rem;
  padding-left: 10px;
}
#search {
  color: rgb(10, 47, 80);
  background-color: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.err::placeholder {
  color: rgb(122, 44, 44);
}

/* TITLE AND TIME*/

.time-zone {
  color: rgb(10, 47, 80);
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  width: 100%;
}
.date-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 800;
  color: aliceblue;
  -webkit-text-stroke: 0.6px rgb(10, 47, 80);
}

/* FORECAST DAYS*/

.weather-forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 600px;
  min-width: 300px;
  border-radius: 10px;
}

.weather-forecast-item {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
  margin: 5px 5px;
  flex-grow: 1;
  width: 100%;
}

.weather-forecast-item .day {
  background-color: rgb(115, 115, 117);
  width: 4rem;
  text-align: center;
  border-radius: 50px;
  color: aliceblue;
}

img.w-icon {
  height: 50px;
  width: 50px;
}

/* CURRENT FORECAST*/

.curr-wrap-div {
  padding: 40px 10px 10px;
  width: 90%;
}

.current-info {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-top: 2rem;
  width: 90%;
  max-width: 600px;
  min-width: 300px;
  margin: auto;
}

.others {
  width: 100%;
  max-width: 300px;
  min-width: 150px;
  display: flex;
  flex-direction: column;
}

.weather-item {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px;
}

.weather-item p {
  padding: 5px;
  text-align: center;
  margin: 0;
}

.main-info {
  width: 100%;
  max-width: 300px;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-info img {
  height: 150px;
  width: 150px;
  margin: auto;
}

.main-current-information {
  text-align: center;
  font-size: 1.6rem;
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.37);
  color: rgb(10, 47, 80);
}

/* MEDIA */

@media (max-width: 570px) {
  /* SEARCH */

  .city-search {
    font-size: 0.6rem;
    margin: 6px;
  }
  .city-search::placeholder {
    font-size: 0.6rem;
    padding-left: 10px;
  }
  #search {
    font-size: 0.6rem;
  }

  .err::placeholder {
    color: rgb(122, 44, 44);
  }

  /* TITLE AND TIME*/

  .time-zone {
    font-size: 1.9rem;
  }
  .date-container {
    font-size: 0.8rem;
    padding: 0px 10px;
  }

  /* CURRENT FORECAST*/

  .weather-item p {
    padding: 2px;
    font-size: 0.8rem;
  }

  .main-info img {
    height: 100px;
    width: 100px;
  }

  .main-current-information {
    font-size: 1.3rem;
  }

  /* FORECAST DAYS*/

  .weather-forecast {
    font-size: 0.8rem;
  }

  .weather-forecast-item .day {
    width: 3rem;
  }

  .weather-forecast-item img.w-icon {
    height: 40px;
    width: 40px;
  }
}
